@tailwind base;
@tailwind components;
@tailwind utilities;



/* Animação fade-in com movimento */
@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.9);
        /* Começa 20px abaixo */
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        /* Termina na posição original */
    }
}

.fade-in {
    animation: fadeInMove 0.5s 0.2s backwards;
}


/* Animação fade-in com movimento */
@keyframes fadeOutMove {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.fade-out {
    animation: fadeOutMove 0.8s 0.6s backwards;
}

@keyframes fadeInOnScroll {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-fade-in {
    opacity: 0;
    /* Começa invisível */
    transform: translateY(20px);
    /* Começa deslocado */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.scroll-fade-in.show {
    opacity: 1;
    /* Fica visível */
    transform: translateY(0);
    /* Volta para posição original */
    transition-delay: var(--delay, 10s);
    /* Delay customizável */
}


